body {
  margin: 0 auto;
  padding: 0;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #799acd;
}

main {
  width: 100vw;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.__wrapper-cards {
  margin: 100px 40px;
  padding: 20px;
  background-color: #fff;
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.22), 0 15px 12px rgba(0, 0, 0, 0.16);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.22), 0 15px 12px rgba(0, 0, 0, 0.16);
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

article {
  min-height: 100%;
  padding: 30px 0;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  -webkit-transition: background-color 0.1s ease-in-out;
  -o-transition: background-color 0.1s ease-in-out;
  transition: background-color 0.1s ease-in-out;
}

article:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

article img {
  height: 70px;
  margin-bottom: 35px;
}

article h2 {
  color: #4e66c0;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
}

article p {
  width: 59%;
  margin: 15px 0;
  font-size: 0.85rem;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

article h3 {
  color: #4e66c0;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0;
}

article h3::before {
  content: '$';
  position: relative;
  top: -9px;
  right: 4px;
  font-size: 0.9rem;
  font-weight: normal;
}

article h3::after {
  content: '/ month';
  font-size: 1.1rem;
  font-weight: normal;
}
